.form {
  width: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 4rem;
}

.ui.blue.button {
  margin: 20px;
}

.flex form input {
  font-size: 60px;
  height: 5vh;
}

.ui.fluid.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: #f4f4f4;
}

.ui.form {
  display: flex;
  flex-direction: column;
}

.compare {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.compare input {
  text-align: center;
}

.tasks {
  display: flex;
  justify-content: center;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
  padding: 20px;
}

.ui .checkbox {
  padding-top: 20px;
}

.field {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 756px) {
  .tasks {
    flex-direction: column;
  }
  .ui.fluid.container {
    padding-top: 25px;
    flex-direction: column;
  }
}
